<% if soiree.date.today? %>
  <article class="well today">
<% else %>
  <article class="well">
<% end %>
  <i>Abendveranstallung</i>
  <h3><%= soiree.name %></h3>
  <date>
    <%= localize soiree.date, format: :long %>
  </date>
  <%= soiree.place %>
  <section><%= markdown soiree.description %></section>
</article>
