<article class="well lecture">
  <i>Vorlesung</i>
  <h3><%= lecture.name %></h3>
  <date><%= lecture.date.to_formatted_s(:long) %></date> <%= lecture.room %>
  <%= markdown lecture.description %>
</article>
