<article class="well lecture">
  <i>Vorlesung</i>
  <h3><%= lecture.name %></h3>
  <date>
    <%= localize lecture.date, format: :long %>
  </date>
  <%= lecture.room %>
  <section><%= markdown lecture.description %></section>
</article>
