<section class="centered">
  <h1>Programm</h1>
  <% @schedule.each do |e| %>
    <% unless e.date.past? && !e.date.today? %>
      <% if e.date.today? %>
        <article class="well today">
      <% else %>
        <article class="well">
      <% end %>
      <h3><%= e.name %></h3>
      <date><%= e.date.to_formatted_s(:long) %></date> <%= e.place %>
      <%= markdown e.description %>
      </article>
    <% end %>
  <% end %>
</section>
