<article id="legal">
<h1>Impressum</h1>
<p>Der FIN - Vorkurs ist ein Projekt der Fakultät für Informatik, Otto-von-Guericke-Universität Magdeburg und wird durchgeführt von Freiwilligen und Mitgliedern des Fachschaftsrat für Informatik FaRaFIN.</p>

<h2>Adresse</h2>
<p>Otto-von-Guericke-Universität Magdeburg<br />
Fachschaftsrat der Fakultät für Informatik<br />
Postfach 4120<br />
39016 Magdeburg</p>

<p>E-Mail: post@farafin.de<br>
Telefon: +49 (391) 6711377</p>

<p>Inhaltlich verantwortlich gemäß § 6 MDStV: Fachschaftsrat der Fakultät für Informatik<br />
Verantwortlicher für den Vorkurs: Martin Knoll<br />
Referent für Öffentlichkeitsarbeit: Marco Dankel</p>

<p>Trotz sorgfältiger inhaltlicher Kontrolle übernehmen wir keine Haftung für die Inhalte externer Links. Für den Inhalt der verlinkten Seiten sind ausschließlich deren Betreiber verantwortlich.</p>
</article>
