<article>
  <h1>
    <%= post.title %>
    <%= link_to ' &#x02df;'.html_safe, post, method: :delete,
      confirm: 'Achtung! Nachricht wirklich löschen?' %>
  </h1>
  <div class="time"><%= post.created_at.to_s :long %></div>
  <%= post.content %>
</article>
