<section id="new_post">
  <h1>Neue Nachricht</h1>
  <%= form_for @post do |f| %>
    <%= f.text_field :title, placeholder: "Titel" %>
    <%= f.text_area :content, placeholder: "Inhalt" %>
    <%= f.submit 'Nachricht erstellen' %>
  <% end %>
</section>
