@import "bootstrap";
@import "typography";
@import "courses";
@import "questions";

body {
  margin: 0 1em;
}

div#user_bar {
  width: 100%;
  background-color: #37a;
  line-height: 2em;
  color: #fff;
  margin: 0 -1em;
  padding: 0 1em;
  text-align: right;
}

div#user_bar a, div#user_bar a:hover {
  color: #fff;
}

section#signup, section#login, section#password_reset {
  text-align: center;
  margin-bottom: 6em;
}

header {
  padding: 1.5em 1em;
  margin: 0 -1em;
  display: table;
  box-shadow: 0 5px 10px #eee;
}

header h1 {
  display: table-cell;
  font-weight: bold;
  text-shadow: 1px 1px 3px #ccc;
}

header h1 > span.fin {
  color: #37a;
}

header h1 > span.dots {
  color: #222;
}

header h1 > span.vorkurs {
  color: #f92;
}

nav {
  display: table-cell;
  width: 100%;
  vertical-align: middle;
}

nav ul {
  display: block;
  text-align: right;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  text-align: center;
  margin: 0 1em;
  font-size: 1.5em;
  width: 6em;
}

nav li a {
  color: #aaa;
  text-shadow: 1px 1px 3px #eee;
}

section#teaser {
  margin: 4.5em auto;
  max-width: 45em;
  font-size: 1.25em;
  text-align: center;
}

section#features {
  margin: 0 -1em;
}

section#features > div {
  display: inline-block;
  vertical-align: top;
  width: 30%;
  padding: 0 1em;
}

form.edit_user, section.users, form.new_enrollment {
  max-width: 40em;
  margin: 0 auto;
}

.centered {
  max-width: 40em;
  margin: 0 auto;
}

form.edit_user > input, form.new_enrollment > input {
  display: block;
}

article#legal {
  max-width: 40em;
  margin: 0 auto;
}

section#posts {
  max-width: 40em;
  margin: 0 auto;
}

section#new_post {
  margin: 0 auto;
  max-width: 40em;
}

section#new_post input, section#new_post textarea {
  display: block;
}

section#new_post input[type="text"], section#new_post textarea {
  width: 100%;
}

.result {
  text-align: center;
}

.result p {
  margin: 1em auto;
  font-size: 4em;
}

@media screen and (max-width: 835px) {
  section#features > div {
    width: 45%;
  }
  
  #fork_me {
    display: none;
  }
}

@media screen and (max-width: 680px) {
  header, nav {
    display: block;
    text-align: center;
  }

  header h1 {
    display: inline;
  }

  section#features {
    display: block;
  }

  section#features > div {
    display: block;
    width: 90%;
  }

  nav ul {
    margin-top: 1em; 
    text-align: center;
  }
}
