// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

section.question {
  max-width: 40em;
  margin: 3em auto;
}

p.text {
  font-weight: bold;
}

form.new_question {
  max-width: 40em;
  margin: 0 auto;
}

.progress {
  margin-top: 3em;
}
