<section id="features">
<div>
  <h2>Informationen</h2>
  <p>Wir Informieren dich per Email über alle wichtigen Neuigkeiten und Termine</p>
</div>
<div>
  <h2>Tests</h2>
  <p>Die Tests helfen dir dein Vorwissen einzuschätzen. Die Teilname an den Tests ist empfohlen, aber nicht verpflichtend.</p>
</div>
<div>
  <h2>Anmeldung</h2>
  <p>Mit deinem Account kannst du dich für die Vorkurse anmelden.</p>
</div>
</section>
