<section id="features">
  <div>
    <h2>Zeit</h2>
    <p>Die Vorkurse finden in den zwei Wochen vor Beginn des Wintersemesters statt. Vom 17. bis zum 28. September 2012 jeden Tag, vormittags Mathematik und nachmittags Programmierung.</p>
  </div>
  <div>
    <h2>Informationen</h2>
    <p>Wenn du dir einen Account angelegt hast, informieren wir dich per Email über alle wichtigen Neuigkeiten und Termine. So erhälst du z.B. sofort eine Email, wenn die Tests freigeschaltet werden oder die Anmeldung zu den Kursen möglich ist.</p>
  </div>
  <div>
    <h2>Anmeldung</h2>
    <p>Mit deinem Account kannst du an den Tests für die Vorkurse teilnehmen und dich für die Vorkurse anmelden. Eine Anmeldung für die Kurse ist Voraussetzung für die Teilnahme.</p>
  </div>

  <div>
    <h2>Tests</h2>
    <p>Die Tests helfen dir dein Vorwissen einzuschätzen. Wir verwenden die Ergebnisse der Tests dafür, eine zu deiner Erfahrung passende Gruppe für dich zufinden. Die Teilnahme an den Tests ist empfohlen, aber nicht verpflichtend.</p>
  </div>
  <div>
    <h2>Ort</h2>
    <address>
      <strong>Otto-von-Guericke-Universität Magdeburg<br>
      Fakultät für Informatik</strong><br>
      Universitätsplatz 2<br>
      Gebäude 29<br>
      39106 Magdeburg
    </address>
  </div>

</section>
