<section id="teaser">
<p>Willkommen auf der Seite der Vorkurse der Fakultät für Informatik, Otto-von-Guericke-Universität Magdeburg. Hier findet ihr Informationen zum Mathematik- und Programmierungvorkurs.</p>
</section>
