<section class="centered result">
<h1><%= @course.title %></h1>
<h2>Deine Punktzahl</h2>
<p><b><%= "#{@score}%" %></b></p>
<%= link_to "Kursübersicht", courses_path, :class => "btn btn-primary" %> 
<section>
